<html>
 <head>
   <title>The Gossip Project</title>
	<a href="/gossips/new/">http://localhost:4567/gossips/new/</a>
</head>
<body>

  <h1 class="text-center">Mon super site de gossips !</h1>
  <br/>
  <% gossips.each_with_index do |gossip,index| %>
      <p>
        <a href="/gossips/<%= (index+1) %>"><%= gossip.author %></a><br/>
        <%= gossip.content %>
      </p>
    <% end %>
</body>
</html>
